body
{
	margin: 0;
	padding: 0;
	background: url(cine-lobby.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.menu ul
{list-style-type:none;


}
.first_li
{position:relative;}
.sub_ul
{display:none;
}
.first_li:hover .sub_ul
{display:block;
  position:absolute;
  background-color:#80aaff;
  padding:0px;
  top: 106px;Z-index:99;
  width: 178.6px;
}
.sub_ul li
{display: block !important;
    width: 69% !important;
    margin: 0 !important;
padding: 22px 54.2px;





}
.menu .ul li a
{
		text-decoration:none;
  color:gold;}
.logo
{display:inline-block;
width:25%;
vertical-align:top;
}
.menu
{display:inline-block;
width:74%;


}
.menu .ul li:hover
{ color:linen;
border-bottom:2px solid yellow;

}
.menu ul li button
{
  background-color: black;
}

.menu .ul li {
	display: inline-block;
	padding: 6px;
	margin-top: 47px;
	color: gold;
}
.nav {
	background-color: black;
	height: 146.9px;
}
.logo img {
	width: 122.2%;
	height: 310px;
}

td
{margin-left: 5px;

}
.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/4);
	left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	margin: 20px;
	color:white;
}
.loginBox
{
	color:white;
}

td
{
	color:white;text-align:left;
}
